<h1>MR : <%= @personne.prenom %> <%= @personne.nom %> </h1>
    
<div>
    <p>Prénom : <%= @personne.prenom %></p>
    <p>Nom : <%= @personne.nom %></p>
    <p>Profession : <%= @personne.profession %></p>
    <p>telephone : <%= @personne.telephone %></p>
    <p>adresse : <%= @personne.adresse %></p>
    <p><%= link_to "index des joueurs", personnes_path %></p>
</div>
